# Data folder
.data/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/
.venv-wsl/

#Tensorboard
logs/

# Jupyter and VSC
.ipynb_checkpoints/
.vscode/

# OS junk
.DS_Store

Thumbs.db
